/* ========================================
  オーバービューセクション
======================================== */
.overview {
  width: 75%;
  border-right: 1px solid var(--color-border-default);
  background-color: var(--color-bg-surface);
  transition: background-color var(--transition-time-base) ease,
    color var(--transition-time-base) ease,
    border-color var(--transition-time-base) ease;
}

@media (max-width: 750px) {
  .overview {
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--color-border-default);
  }
}
